txtorcon~=24.8
twisted~=24.7
tqdm~=4.66
grpcio~=1.67
grpcio-tools~=1.67
aiohttp~=3.8
cryptography~=38.0
pycryptodome~=3.11
psutil~=5.9
PySocks~=1.7
requests~=2.28

pypiwin32; platform_system == "Windows"